body{
    width: 100%;
    overflow-x: hidden;
}

.banner{
   width: 100%;
   overflow: hidden; 
}

#fotoBanner{
    width: 100%;
    height: auto;
    display: block;
}

.navbar{
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    gap: 30%;
    overflow-x: hidden;
}


.opcoes{
    display: inline-flex;
    flex-direction: row;
    gap: 1.9rem;
    padding: 40px;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    list-style-type: none;
    font-weight: 700;
    font-size: 1.5rem;
    overflow-x: hidden;

}

#fotoBanner{
    width: 100%;
    overflow-x: hidden;}

h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-align: center;
}

.card{
    width: 250px;
    height: 300px;
    flex-shrink: 0;
    border-radius: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    background: #ececec;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.imagens{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px; 
}


.img{
    width: 225px;
    height: 230px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    border-radius: 10px;
}








.colecao{
    display: flex;
    justify-content: center;
}


.footer{
    background-color: #B991C4;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

#nome{
    display: block;
    width: 30%
}

#telefone{
    display: block;
    width: 30%; 
}

#mensagem{
    display: block;
    width: 30%;
}

#formularioContato{
    padding: 40px;
}