body{
    background-color: blanchedalmond;
}


.cardFormulario{
    background-color: aliceblue;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);


}

#btn{
    background-color: #B991C4;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    border-radius: 10px;
    width: 50%;


}